<div class="mainOverview">
<div class="mainOverview-left-coulmn">
<div class="show_page_header_titles">Today's Tasks</div>

<ul class="ttul">
  <% if !taken_todays_poll %>
    <div id="ttp">
    <%= image_tag('/images/unchecked.png', :class=> "home_checkbox") %>
    <% else %>
    <div  id="ttp" class="finishedTodaysTasks">
    <%= image_tag('/images/checked.png', :class=> "home_checkbox") %>
    <% end %>
    Take today's poll to the right</div>
    
  <% if commentary_created_today %>
  	<div class="finishedTodaysTasks"><%= image_tag('/images/checked.png', :class=> "home_checkbox") %> Create a commentary item</div>  
     <% else %>
     	<div><%= image_tag('/images/unchecked.png', :class=> "home_checkbox") %> <%= link_to "Create a commentary item", new_commentary_path %></div>
    <% end %>
  
  <% if boost_commentary_today %>
    <div class="finishedTodaysTasks"><%= image_tag('/images/checked.png', :class=> "home_checkbox") %> Boost a commentary item</div>
     <% else %>
    <div><%= image_tag('/images/unchecked.png', :class=> "home_checkbox") %> <%= link_to "Boost a commentary item", commentaries_path %></div>
    <% end %>
  
  <% if share_commentary_today %>
    <div class="finishedTodaysTasks"><%= image_tag('/images/checked.png', :class=> "home_checkbox") %> Share Something to Facebook</div>
     <% else %>
    <div><%= image_tag('/images/unchecked.png', :class=> "home_checkbox") %> <%= link_to "Share Something to Facebook", shareable_commentaries_path %></div>
    <% end %>
 
</ul>

</div>

<div class="mainOverview-right-coulmn">

<div class="mainOverview-right-coulmn-top">
 <div class="show_page_header_titles">Today's Poll</div>
 
 <div class="form_row" id="poll_div">
 <% if !taken_todays_poll %>
    <label for="poll">Which Answer do you like the most?</label><br />
    <% [ 'Option 1', 'Option 2', 'Option 3', 'Option 4'].each do |poll| %>
      <br><%= radio_button_tag 'poll', poll %>
      <%= poll.humanize %>
    <% end %>
 <div class="poll_button_div"><%= link_to_function 'Vote','poll_vote()',:id => 'poll_button', :class => 'shaded_button' %></div>
 <% else %>
 <br />
 Thank you for taking today's poll
 <% end %>
 </div>
 
 
</div>

<div class="mainOverview-right-coulmn-bottom">
 <div class="show_page_header_titles">Content Preview</div>
</div>

</div>


</div>
