<div class="histories_overview">
  <% @histories.group_by(&:group_by_created_at).each do |created_at, histories| %>
  <div class="history_date_header"><%= created_at %></div>
  <ul class="hist_type_header">
   <% histories.group_by(&:group_by_history_type).sort.each do |hist_type, hist| %>
    
      <% if hist_type == 'Poll Taken' %>
         <li><%= hist_type %></li>
      <% elsif hist_type == 'Create Commentary' %>
       <% hist.each do |cc| %>
         <li>Created Commentary, <%= link_to truncate(Commentary.find_by_id(cc.history_id).title, :length => 55), commentary_path(cc.history_id), :class => 'c-links' if Commentary.find_by_id(cc.history_id) %></li>
         <% end %>
      <% elsif hist_type == 'Boost Commentary' %>
       <% hist.each do |bc| %>
         <li>Boosted Commentary, <%= link_to truncate(Commentary.find_by_id(bc.history_id).title, :length => 55), commentary_path(bc.history_id), :class => 'c-links' if Commentary.find_by_id(bc.history_id) %></li>
         <% end %>
      <% elsif hist_type == 'Share Commentary' %>
       <% hist.each do |sc| %>
         <li>Shared: Content to Facebook, <%= link_to truncate(Commentary.find_by_id(sc.history_id).title, :length => 55), commentary_path(sc.history_id), :class => 'c-links' if Commentary.find_by_id(sc.history_id) %></li>
       <% end %>
      <% elsif hist_type == 'Shared Commentary Link' %>
       <% hist.group_by(&:group_by_history_id).sort.each do |hist_id, h| %>
         <li>PageViews : <%= h.count %> for <%= link_to Commentary.find_by_id(hist_id).title, commentary_path(hist_id), :class => 'c-links' if Commentary.find_by_id(hist_id)  %></li>
       <% end %>
      <% elsif hist_type == 'Milestone' %>
       <% hist.each do |m| %> 
         <li>Milestone: <%= m.milestone_type %></li>
         <% end %>  
      <% else %>
         <li><%= hist_type %></li>
      <% end %>

   <% end %>
   </ul>
  <% end %>
</div>
