<%= form_for(@commentary) do |f| %>
  <% if @commentary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commentary.errors.count, "error") %> prohibited this commentary from being saved:</h2>

      <ul>
      <% @commentary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, :placeholder => 'Title', :class => 'text_field' %>
  </div>
  <div class="field">
    <%= f.text_field :links, :placeholder => 'Relevent Links', :class => 'text_field' %>
  </div>
  <div class="field">
    <%= f.text_area :body, :placeholder => 'Enter your commentary.', :class => 'text_area' %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
