<% title @commentary.title %>
<p id="notice"><%= notice %></p>

<meta property="og:title" content="<%= @commentary.title %>"/>

<p>
  <h1><%= @commentary.title %></h1>
</p>

<p>
  <%= @commentary.body %>
</p>

<p>
  <%= image_tag @commentary.image_url %>
</p>

