<p id="notice"><%= notice %></p>

<meta property="og:title" content="<%= @commentary.title %>"/>

<% if current_user && current_user.id == @commentary.user_id %>
  <%= link_to '(Edit)', edit_commentary_path(@commentary) %> |
  <%= link_to 'Delete', @commentary, :confirm => 'Are you sure?', :method => :delete %>
<% end %>
  
<p>
  <b>Title:</b>
  <%= @commentary.title %>
</p>

<p>
  <b>Links:</b>
  <%= @commentary.links %>
</p>

<p>
  <b>Body:</b>
  <%= @commentary.body %>
</p>

<p>
  <b>User:</b>
  <%= @commentary.user_id %>
</p>


<%= link_to 'View All Commentaries', commentaries_path %>
