<div class="login-div">
<%= form_for(@user_session) do |f| %>
  <% if @user_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_session.errors.count, "error") %> prohibited this user_session from being saved:</h2>

      <ul>
      <% @user_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
  <div class="field">
    <%= f.text_field :username, :class => 'text_field', :placeholder => 'Username' %>
  </div>
  <div class="field">
    <%= f.password_field :password, :class => 'text_field', :placeholder => 'password' %>
  </div>
  <div class="actions">
    <%= f.submit :Login, :class => 'shaded_button', :style => "background-color:white;" %>
  </div>
<% end %>
</div>
